<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    
        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Helvetica, Arial, sans-serif;
        }
    
        html 
        {
            scroll-behavior: smooth;
        }
    
        li:hover #hover-content 
        {
            display: block;
        }
    
        #hover-content 
        {
            top: 100%;
            z-index: 10; 
        }
    
        #hover-content a:hover
        {
            color: rgb(43, 42, 42);
        }
    
        .product:hover,
        .home:hover
        {
            color: rgb(185, 185, 185);
        }
    
        #hover-content a
        {
            margin: 0 10px 0 10px;
        }
    
        .account
        {
            cursor: pointer;
        }
    
        .item
        {
            cursor: pointer;
        }
    
        .banner 
        {
            margin-top: -50px;
        }
    
        #menuToggle
        {
            cursor: pointer;
        }
        .menu-items 
        {
            list-style-type: none;
            padding: 0;
        }
    
        .menu-items li 
        {
            color: #333;
            margin-bottom: 10px;
            white-space: nowrap; 
        }
    
        .menu-items li:hover 
        {
            cursor: pointer;
            color: #777;
        }
    
        .dropdown-menu 
        {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 30px;
            top: 100%; 
            left: 0;
        }
    
        .mini
        {
            background: rgb(191,191,224);
            background: linear-gradient(90deg, rgba(191,191,224,1) 19%, rgba(0,212,255,1) 64%);
        }
    
    
    </style>
</head>
<body>
    <header class="header sticky top-0 z-50">
        <!-- Top header -->
        <div class="top-header relative bg-gray-100">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="welcome flex">
                        <li class="list-none mr-4 mb-4 mt-4 text-gray-400">Welcome to our shop</li>
                        <li class="list-none mr-4 mb-4 mt-4 text-gray-400">Call us: 0395xxxxxxxx</li>
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="account list-none mr-4 mb-4 mt-4 text-gray-400 relative transition duration-300">My Account <i class="fa-solid fa-caret-down"></i>
                            <div class="absolute top-full right-0 hidden bg-white border border-gray-200 p-4 shadow-md" id="hover-content">
                                <div class="flex flex-col">
                                    <a href="">Login</a>
                                    <a href="">Logout</a>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom header -->
        <div class="bottom-header bg-white">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex flex-row">
                        <img class="" src="/src/img/logo.png" alt="">
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="item list-none mr-5 mb-9 mt-10 text-xl text-gray-700"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></li>
                        <li class="item list-none mr-5 mb-9 mt-10 text-xl text-gray-700 shadow-md rounded-xl"><input class="border border-none focus:outline-none rounded-xl pl-3 active" type="text" placeholder="Tìm kiếm...."></li>
                        <a class="item product list-none mr-5 mb-9 mt-10 text-xl text-gray-700" href="">Liên hệ</a>
                        <a class="item product list-none mr-5 mb-9 mt-10 text-xl text-gray-700" href="">Sản phẩm</a>
                        <a class="item home list-none mr-5 mb-9 mt-10 text-xl text-gray-700" href="">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Banner -->
    <div class="banner bg-gray-100 pt-9">
        <div class="container xl:mx-auto">
            <div class="swiper flex">
                <div class="w-1/2">
                    <h1 class="text-6xl text-uppercase mt-64 text-wrap">SteelSeries Arctis Pro</h1>
                    <h1 class="text-6xl text-uppercase">+ GameDAC Black Edition</h1>
                    <button class="transition duration-300 bg-orange-500 hover:bg-orange-700 text-white font-bold py-4 px-5 text-xl rounded-md shadow-lg mt-5">Khám phá ngay</button>
                </div>
                <div class="w-1/2">
                    <img class="w-full h-auto transition-transform duration-500 transform hover:scale-110" src="/src/img/steelseries-banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- mini-banner -->
    <div class="mini-banner p-5 flex justify-center mt-6">
        <div class="container xm:mx-auto">
            <div class="flex justify-center">
                <div class="max-w-xl rounded-lg overflow-hidden shadow-lg flex-1 mr-8">
                    <div class="flex p-8 items-center mini transition-transform duration-500 transform hover:scale-110">
                        <img class="w-48 h-48" src="/src/img/g-pro.png" alt="">
                        <strong class="text-2xl ml-5 ">LOGITECH G-PRO WIRELESS</strong>
                    </div>
                </div>
                <div class="max-w-xl rounded-lg overflow-hidden shadow-lg flex-1 ml-8">
                    <div class="flex p-8 items-center mini transition-transform duration-500 transform hover:scale-110">
                        <img class="w-48 h-48" src="/src/img/cyberboard.png" alt="">
                        <strong class="text-2xl ml-5 ">ANGRY MIAO CYBERBOARD R4</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <!-- title -->
        <div class="flex items-center justify-center h-full">
            <p class="font-bold text-5xl text-gray-600 mt-16 mb-10">SẢN PHẨM</p>
        </div>
        <!-- product list -->
        <div class="grid grid-cols-4 gap-3 ml-48 mr-48 mb-20">
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
        </div>
        <!-- title -->
        <div class="flex items-center justify-center h-full">
            <p class="font-bold text-5xl text-gray-600 mt-16 mb-10">SẢN PHẨM</p>
        </div>
        <!-- product list -->
        <div class="grid grid-cols-4 gap-3 ml-48 mr-48 mb-20">
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
            <div class="cursor-pointer max-w-xs rounded overflow-hidden shadow-lg flex-shrink-0 transition-transform hover:scale-105 mb-7">
                <a href="">
                    <img class="w-full" src="/src/img/razer-naga-v2-pro.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><a class="transition duration-200 hover:text-red-300" href="">Razer naga v2</a></div>
                        <div class="font-bold text-2xl text-red-500">4.790.000đ</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="bg-slate-100 mt-36 p-12">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <p class="text-xl text-gray-500">Hồ Phú Tài - Trần Nguyên Trường - Nguyễn Phương Minh</p>
                <ul class="flex">
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">Home</a></li>
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">About</a></li>
                    <li><a href="#" class="text-xl text-gray-500">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>